<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034661017930-hk7vcp9ksvkj3p3o5ikc4qn2c5s8459m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034661017930-hk7vcp9ksvkj3p3o5ikc4qn2c5s8459m</string>
	<key>API_KEY</key>
	<string>AIzaSyB5mz196H2BZsGFX_o5uD6kntMUHaG17bY</string>
	<key>GCM_SENDER_ID</key>
	<string>1034661017930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.samuelvelez.myTweets</string>
	<key>PROJECT_ID</key>
	<string>mytweets-b1e3b</string>
	<key>STORAGE_BUCKET</key>
	<string>mytweets-b1e3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034661017930:ios:e3f4723275c17f155ea9b3</string>
</dict>
</plist>