<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Usamos la Ubiccion para el tweet</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Usamos la ubicacion para el tweet</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microfono para grabar el video</string>
	<key>NSCameraUsageDescription</key>
	<string>Usaremos la camara par publicar tu tweet</string>
</dict>
</plist>
